$themes: (
 light: (
   text: #1f1f1f,
   background: #ccccf0,
   primary: #3a31d8,
   secondary: #421ea4,
   accent: #8332b8,
 ),
 dark: (
   text: #e0e0e0,
   background: #1e1e6a,
   primary: #2f27ce,
   secondary: #7f5be1,
   accent: #9747cd,
 ),
);