$themes: (
 light: (
   text: #1f1f1f,
   background: #ccccf0,
   primary: #3a31d8,
   secondary: #421ea4,
   accent: #8332b8,
 ),
 dark: (
   text: #e0e0e0,
   background: #1e1e6a,
   primary: #2f27ce,
   secondary: #7f5be1,
   accent: #9747cd,
 ),
);

 .center {
   align-items: center;
   text-align: center;
 }

 .margin {
   margin-left: 10%;
   margin-right: 10%;

 }

 .cell {
   @extend .margin;
   border-radius: 15px;
   padding: 30px;
   background: rgba(0,0,0,0.2)
 }

 .flex {
    display: flex;
    flex-flow: wrap;
  }

 .space-around {
   justify-content: space-between;
 }
 
 .font-bigger {
   font-size: x-large;
 }

 .marginauto {
   margin: auto;
 }

 .locale-changer select {
  border: 2px solid #7f5be1;
  background: #2f27ce;
  padding: 10px;
  transition: 1s;
 }